{%extends 'base.html'%}

{%block navbar%}
<ul>
    <li> <a href = "{{url_for('register')}}"> Register</a></li>
</ul>

{%endblock%}

{%block content%}

<h1> {% with messages = get_flashed_messages() %}
    {%if messages%}
        <ul>
            {%for message in messages%}
                <li> {{message}}</li>
            {%endfor%}
        </ul>
    {%endif%}
{%endwith%}<h1>



<form action= '/login' method = "POST">
    <ul>
       <li><input type="text" name= "username" placeholder="Inserisci username:"></li>
       <li><input type = "password", name ="password", placeholder="Inserisci password:"></li>
    </ul>
            
    <input type="submit" id="login" placeholder="Accedi">
   
</form>
{%endblock%}
    