{%extends 'base.html'%}

{%block navbar%}
<ul>
    <li> <a href = "{{url_for('login')}}"> Login </a></li>
</ul>

{%endblock%}

{%block content%}

<h1> {{msg}}</h1>

<form action= '/register' method = "POST">
    <ul>
       <li><input type="text" name="nome" placeholder = "Inserisci nome:"></li> 
       <li> <input type="text" name= "cognome" placeholder="Inserisci cognome:"></li>
       <li><input type="text" name= "username" placeholder="Inserisci username:"></li>
       <li><input type = "password", name ="password", placeholder="Inserisci password:"></li>
       <li> <input type = "password", name ="c_password", placeholder="Conferma password:"></li>
    </ul>
       
       
    <input type="submit" id="register" placeholder="Registrati">
   
       

</form>

{%endblock%}